
<section class="gt_section-50332 " data-name="Footer">
  <div class="gt_footer">
    <div id="return-to-top" class="gt_footer-top">
      <div class="gt_container">
        <div class="gt_flex gt_align-i-center gt_justify-c-center">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.46967 5.46967C7.76256 5.17678 8.23744 5.17678 8.53033 5.46967L11.5303 8.46967C11.8232 8.76256 11.8232 9.23744 11.5303 9.53033C11.2374 9.82322 10.7626 9.82322 10.4697 9.53033L8 7.06066L5.53033 9.53033C5.23744 9.82322 4.76256 9.82322 4.46967 9.53033C4.17678 9.23744 4.17678 8.76256 4.46967 8.46967L7.46967 5.46967Z" fill="#CCCCCC"/>
          </svg>
          <span>
            Back to top
          </span>
        </div>
      </div>
    </div>
    <div class="gt_footer-main">
      <div class="gt_container">
        <div class="gt_flex gt_flex-wrap">
          <div class="gt_footer-info">
            <span class="gt_footer-info--title">Got a Question? Call Us</span>
            <a href="tel:+333 123 4567">
              <span class="gt_footer-info--phone">+333 123 4567</span>
            </a>
            <span class="gt_footer-info--time">Mon-Sat 8am-6pm Eastern</span>
            <div class="gt_flex ">
              
              <a href="#" class="gt_flex gt_align-i-center gt_share gt_share-facebook">
                <svg width="6" height="14" viewBox="0 0 6 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.362 14H3.981V6.93865H5.808L6 4.57518H3.981V3.22878C3.981 2.67343 4.086 2.45387 4.581 2.45387H6V0H4.2C2.241 0 1.362 0.923432 1.362 2.6928V4.57518H0V6.96771H1.362V14Z" fill="#CCCCCC"/>
                </svg>                  
                <span>Facebook</span>
              </a>
              

              
              <a href="#" class="gt_flex gt_align-i-center gt_share gt_share-instagram">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.99771 1.62014C11.4005 1.62014 11.6888 1.62014 12.659 1.67506C13.2296 1.68214 13.7947 1.78741 14.3295 1.98627C14.7209 2.12916 15.0746 2.35922 15.3638 2.65904C15.6583 2.94917 15.8822 3.30304 16.0183 3.69336C16.2172 4.2282 16.3224 4.79328 16.3295 5.36384C16.3707 6.31121 16.3799 6.59496 16.3799 8.99771C16.3799 11.4005 16.3799 11.6888 16.3295 12.659C16.3198 13.2219 16.2146 13.779 16.0183 14.3066C15.8687 14.6958 15.639 15.0493 15.3441 15.3441C15.0493 15.639 14.6958 15.8687 14.3066 16.0183C13.7718 16.2172 13.2067 16.3224 12.6362 16.3295C11.6888 16.3707 11.4005 16.3799 8.99771 16.3799C6.59497 16.3799 6.31121 16.3799 5.36384 16.3295C4.79328 16.3224 4.2282 16.2172 3.69336 16.0183C3.30129 15.8769 2.94727 15.6466 2.65904 15.3455C2.35915 15.0554 2.12775 14.7021 1.98169 14.3112C1.7873 13.7753 1.68367 13.2107 1.67506 12.6407C1.62929 11.6934 1.62014 11.405 1.62014 9.00229C1.62014 6.59954 1.62014 6.31579 1.67506 5.36842C1.68367 4.79842 1.7873 4.23384 1.98169 3.69794C2.1253 3.30452 2.35699 2.94915 2.65904 2.65904C2.94727 2.35796 3.30129 2.12769 3.69336 1.98627C4.2282 1.78741 4.79328 1.68214 5.36384 1.67506C6.31121 1.62929 6.59497 1.62014 8.99771 1.62014ZM8.99771 0C6.55378 0 6.25172 0 5.29062 0.0549199C4.5439 0.0647766 3.80424 0.200948 3.10297 0.457666C2.50162 0.688098 1.958 1.04739 1.5103 1.5103C1.04739 1.958 0.688098 2.50162 0.457666 3.10297C0.196265 3.80343 0.0554459 4.54311 0.0411899 5.29062C0 6.24714 0 6.55377 0 8.99771C0 11.4416 0 11.7437 0.0549199 12.7094C0.0652039 13.4546 0.201371 14.1926 0.457666 14.8924C0.689796 15.4903 1.04894 16.0305 1.5103 16.476C1.95931 16.9373 2.50256 17.2963 3.10297 17.5286C3.80404 17.7878 4.54335 17.9286 5.29062 17.9451C6.24714 17.9908 6.55378 18 8.99771 18C11.4416 18 11.7437 18 12.7094 17.9451C13.4551 17.9282 14.1929 17.7874 14.8924 17.5286C15.4922 17.2988 16.0369 16.9453 16.4911 16.4911C16.9453 16.0369 17.2988 15.4922 17.5286 14.8924C17.7874 14.1929 17.9282 13.4551 17.9451 12.7094C17.9863 11.7483 18 11.4416 18 8.99771C18 6.55377 18 6.25172 17.9451 5.29062C17.9286 4.54335 17.7878 3.80404 17.5286 3.10297C17.2963 2.50256 16.9373 1.95931 16.476 1.5103C16.0305 1.04894 15.4903 0.689796 14.8924 0.457666C14.1927 0.201371 13.4546 0.0652039 12.7094 0.0549199C11.7483 0 11.4416 0 8.99771 0Z" fill="#CCCCCC"/>
                  <path d="M8.99764 4.37989C8.08321 4.37989 7.18932 4.65109 6.42906 5.1592C5.66881 5.66731 5.07634 6.38948 4.72661 7.23437C4.37688 8.07925 4.28561 9.00887 4.46434 9.90563C4.64307 10.8024 5.08377 11.626 5.73069 12.2723C6.37761 12.9185 7.20168 13.3584 8.09865 13.5362C8.99562 13.7141 9.92519 13.6219 10.7697 13.2713C11.6143 12.9208 12.3359 12.3276 12.8433 11.5669C13.3507 10.8061 13.621 9.91201 13.6201 8.99761C13.6201 8.39081 13.5005 7.78997 13.2681 7.22942C13.0358 6.66888 12.6952 6.15962 12.2659 5.73077C11.8366 5.30191 11.327 4.96187 10.7662 4.73007C10.2054 4.49828 9.60445 4.37928 8.99764 4.37989ZM8.99764 11.9998C8.40384 11.9998 7.82337 11.8237 7.32964 11.4939C6.83592 11.164 6.4511 10.6951 6.22387 10.1465C5.99663 9.59792 5.93717 8.99428 6.05302 8.41191C6.16886 7.82954 6.45481 7.29459 6.87469 6.87473C7.29457 6.45486 7.82953 6.16893 8.41192 6.05309C8.99431 5.93725 9.59797 5.9967 10.1466 6.22393C10.6952 6.45116 11.1641 6.83596 11.494 7.32967C11.8239 7.82338 11.9999 8.40383 11.9999 8.99761C11.9999 9.79384 11.6836 10.5575 11.1206 11.1205C10.5575 11.6835 9.7939 11.9998 8.99764 11.9998Z" fill="#CCCCCC"/>
                  <path d="M14.9724 4.24316C14.9724 4.46567 14.9064 4.68317 14.7828 4.86818C14.6592 5.05319 14.4836 5.19738 14.278 5.28253C14.0725 5.36768 13.8463 5.38996 13.6281 5.34655C13.4099 5.30314 13.2095 5.19599 13.0522 5.03866C12.8949 4.88132 12.7877 4.68087 12.7443 4.46264C12.7009 4.24441 12.7232 4.01821 12.8083 3.81264C12.8935 3.60708 13.0377 3.43138 13.2226 3.30776C13.4076 3.18414 13.6251 3.11816 13.8476 3.11816C14.1459 3.11816 14.432 3.23669 14.643 3.44767C14.8539 3.65865 14.9724 3.9448 14.9724 4.24316Z" fill="#CCCCCC"/>
                  </svg>
                  
                <span>Instagram</span>
              </a>
              
            </div>
          </div>
          <div class="gt_flex gt_footer-menu">
            <ul class="gt_footer-menu-info">
              
              
              
              
              <div class="gt_footer-menu_content">
                <p class="gt_footer-content_title title1">
                  Collection</p>

                
                
                
                

                
                
                
                
                <li>
                  <a href="#">
                    Classic</a>
                </li>
                
                

                
                
                
                
                <li>
                  <a href="#">
                    Bambino</a>
                </li>
                
                

                
                
                
                
                <li>
                  <a href="#">
                    Sport</a>
                </li>
                
                

                
                
                
                
                <li>
                  <a href="#">
                    Orient Star</a>
                </li>
                
                
              </div>
              
              
            </ul>
            <ul class="gt_footer-menu-info">
              
              
              
              
              <div class="gt_footer-menu_content">
                <p class="gt_footer-content_title title2">
                  Information</p>

                
                
                
                

                
                
                
                
                <li>
                  <a href="#">
                    About Us</a>
                </li>
                
                

                
                
                
                
                <li>
                  <a href="#">
                    Shipping Policy</a>
                </li>
                
                

                
                
                
                
                <li>
                  <a href="#">
                    Return Policy</a>
                </li>
                
                

                
                
                
                
                <li>
                  <a href="#">
                    Terms</a>
                </li>
                
                
              </div>
              
              
            </ul>
            <ul class="gt_footer-menu-info">
              
              
              
              
              <div class="gt_footer-menu_content">
                <p class="gt_footer-content_title title2">
                  Support</p>

                
                
                
                

                
                
                
                
                <li>
                  <a href="#">
                    Contact Us</a>
                </li>
                
                

                
                
                
                
                <li>
                  <a href="#">
                    Customer Service</a>
                </li>
                
                

                
                
                
                
                <li>
                  <a href="#">
                    Order Tracking</a>
                </li>
                
                
              </div>
              
              
            </ul>
          </div>
          <div class="gt_flex gt_footer-menu-mobile">
            <ul class="nav_footer_mobile">
              
              
              
              
              <li class="gt_footer_mobile">
                <div class="itemlink">
                    <p>Collection</p>
                    
                    <div class="icon-svg">
                      <svg class="icon-open" width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.16745 2C9.77716 2 10.2714 2.44772 10.2714 3V13C10.2714 13.5523 9.77716 14 9.16745 14C8.55774 14 8.06348 13.5523 8.06348 13V3C8.06348 2.44772 8.55774 2 9.16745 2Z" fill="#CCCCCC"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.54395 8C2.54395 7.44772 3.03821 7 3.64792 7L14.6877 7C15.2974 7 15.7916 7.44772 15.7916 8C15.7916 8.55228 15.2974 9 14.6877 9L3.64792 9C3.03821 9 2.54395 8.55228 2.54395 8Z" fill="#CCCCCC"/>
                      </svg>

                      <svg class="icon-close" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2 8C2 7.44772 2.44772 7 3 7L13 7C13.5523 7 14 7.44772 14 8C14 8.55228 13.5523 9 13 9L3 9C2.44772 9 2 8.55228 2 8Z" fill="#CCCCCC"/>
                      </svg>
                    </div>
                    
                </div>

          <ul class="gt_subnav-links">
            
            
            
            
            <div class="gt_subnav-content">
              
              
              
              
              <li>
                <a href="#">
                  Classic</a>
              </li>
            </div>
            
            
            <div class="gt_subnav-content">
              
              
              
              
              <li>
                <a href="#">
                  Bambino</a>
              </li>
            </div>
            
            
            <div class="gt_subnav-content">
              
              
              
              
              <li>
                <a href="#">
                  Sport</a>
              </li>
            </div>
            
            
            <div class="gt_subnav-content">
              
              
              
              
              <li>
                <a href="#">
                  Orient Star</a>
              </li>
            </div>
            
            
          </ul>
          </li>
          
          

          
          
          
          
          <li class="gt_footer_mobile">
            <div class="itemlink">
                <p>Information</p>
                
                <div class="icon-svg">
                  <svg class="icon-open" width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.16745 2C9.77716 2 10.2714 2.44772 10.2714 3V13C10.2714 13.5523 9.77716 14 9.16745 14C8.55774 14 8.06348 13.5523 8.06348 13V3C8.06348 2.44772 8.55774 2 9.16745 2Z" fill="#CCCCCC"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2.54395 8C2.54395 7.44772 3.03821 7 3.64792 7L14.6877 7C15.2974 7 15.7916 7.44772 15.7916 8C15.7916 8.55228 15.2974 9 14.6877 9L3.64792 9C3.03821 9 2.54395 8.55228 2.54395 8Z" fill="#CCCCCC"/>
                  </svg>
                  <svg class="icon-close" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2 8C2 7.44772 2.44772 7 3 7L13 7C13.5523 7 14 7.44772 14 8C14 8.55228 13.5523 9 13 9L3 9C2.44772 9 2 8.55228 2 8Z" fill="#CCCCCC"/>
                  </svg>
                </div>
                
            </div>

        <ul class="gt_subnav-links">
          
          
          
          
          <div class="gt_subnav-content">
            
            
            
            
            <li>
              <a href="#">
                About Us</a>
            </li>
          </div>
          
          
          <div class="gt_subnav-content">
            
            
            
            
            <li>
              <a href="#">
                Shipping Policy</a>
            </li>
          </div>
          
          
          <div class="gt_subnav-content">
            
            
            
            
            <li>
              <a href="#">
                Return Policy</a>
            </li>
          </div>
          
          
          <div class="gt_subnav-content">
            
            
            
            
            <li>
              <a href="#">
                Terms</a>
            </li>
          </div>
          
          
        </ul>
        </li>
        
        

        
        
        
        
        <li class="gt_footer_mobile">
          <div class="itemlink">
              <p>Support</p>
              
              <div class="icon-svg">
                <svg class="icon-open" width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.16745 2C9.77716 2 10.2714 2.44772 10.2714 3V13C10.2714 13.5523 9.77716 14 9.16745 14C8.55774 14 8.06348 13.5523 8.06348 13V3C8.06348 2.44772 8.55774 2 9.16745 2Z" fill="#CCCCCC"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M2.54395 8C2.54395 7.44772 3.03821 7 3.64792 7L14.6877 7C15.2974 7 15.7916 7.44772 15.7916 8C15.7916 8.55228 15.2974 9 14.6877 9L3.64792 9C3.03821 9 2.54395 8.55228 2.54395 8Z" fill="#CCCCCC"/>
                </svg>
                <svg class="icon-close" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M2 8C2 7.44772 2.44772 7 3 7L13 7C13.5523 7 14 7.44772 14 8C14 8.55228 13.5523 9 13 9L3 9C2.44772 9 2 8.55228 2 8Z" fill="#CCCCCC"/>
                </svg>
              </div>
                           
          </div>

      <ul class="gt_subnav-links">
        
        
        
        
        <div class="gt_subnav-content">
          
          
          
          
          <li>
            <a href="#">
              Contact Us</a>
          </li>
        </div>
        
        
        <div class="gt_subnav-content">
          
          
          
          
          <li>
            <a href="#">
              Customer Service</a>
          </li>
        </div>
        
        
        <div class="gt_subnav-content">
          
          
          
          
          <li>
            <a href="#">
              Order Tracking</a>
          </li>
        </div>
        
        
      </ul>
      </li>
      
      
      </ul>
    </div>
  </div>
  </div>
  </div>
  <div class="gt_footer-bottom">
    <div class="gt_container">
      <div class="gt_flex gt_align-i-center gt_flex-wrap">
        <span class="gt_footer-bottom--text">
          © 2019 Powered by Gemthemes
        </span>
        <div class="gt_footer-trust-bagde">
          <img class="gt_lazyload" src="https://cdn.shopify.com/s/files/1/0283/2636/3275/t/3/assets/QZVrQyUmax-payment-method-png.png?v=1581065171" alt="Trust Badge">
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

